body{
    text-align: center;
    margin: 0px;
    font-family: sans-serif;
    height: 100vh;
}

pre{
    margin: auto;
    font-family: sans-serif;
}

h1{
    color: darkgreen;
}

link{
    color: darkgreen;
}

footer{
    background-color: darkgreen;
}

